.Titulo{
    color: #e11212;
    font-size: xx-large;
    text-align: center;
    padding: auto;
    background-color: aquamarine;

}
.foto{
    text-align: center;
    background-color: grey;
}
h1 {color: blue;
}
